<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="table_header_news col-lg">
      <tr>
        <th scope="col">Comments</th>
        <th scope="col">Vote Count</th>
        <th scope="col">Upvote</th>
        <th scope="col">News Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of hackerList; let i = index " style="text-align: center; cursor: pointer;">
        <td>{{item.num_comments}}</td>
        <td>
          {{ item.points }}
        </td>
        <td><i class='fas fa-caret-up' (click)="upVote(i)" style='font-size:14px;color: grey;'></i></td>
        <td><strong>{{ item.title }}</strong> <span *ngIf="item?.url"> (</span><a *ngIf="item?.url" target="_blank"
            href="{{item.url}}">{{item.url}}</a><span *ngIf="item?.url">)</span> <span> by </span>
          <strong>{{item.author}}</strong> <span> {{calculateDiffHours(item.created_at)}} hours ago </span> <span (click)="hideRow(i)"
            style="cursor: pointer;">[ hide ]</span></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="float-right" [collectionSize]="20" [(page)]="pageNum" (pageChange)="loadPage($event)"
    aria-label="Default pagination"></ngb-pagination>
</div>
<div class="divider"></div>

<div class="container">
  <canvas id="canvas">{{ Linechart }}</canvas>
</div>