.table_header_news {
    background-color: #e8702a;
    color: white;
}
table tbody tr td a, table tbody tr td span{
    color: grey;
}

.divider {
    margin-top: 80px;
    border: 2px solid #e8702a ;
}